{% extends 'base.html' %}

{% block content %}
  <h2>Hotels</h2>
  {% if hotels %}
    <ul>
      {% for hotel in hotels %}
        <li>
          <a href="{% url 'hotel_details' hotel.id %}">{{ hotel.name }}</a> - 
          <a href="{% url 'edit_hotel' hotel.id %}">Edit</a> - 
          <a href="{% url 'delete_hotel' hotel.id %}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hotels found.</p>
  {% endif %}
  <a href="{% url 'add_hotel' %}">Add a Hotel</a>

{% endblock %}
