{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hotel_header">
        <div class="cover-picture-container" style="background-image: url('{{ room.hotel.cover_picture.url }}')">
          <img src="{{ room.hotel.hotel_logo.url }}" alt="Hotel Logo" class="card-img rounded-circle profile-picture">
        </div>
      </div>
    </div>
  </div>
  <h3>Room Details</h3>
  <div class="card-body">
    <h2 class="card-title">Room {{ room.number }}</h2>
    <table class="table">
      <tr>
        <th>Hotel:</th>
        <td>{{ room.hotel.name }}</td>
      </tr>
      <tr>
        <th>Capacity:</th>
        <td>{{ room.capacity }}</td>
      </tr>
      <tr>
        <th>Price per Night:</th>
        <td>{{ room.price_per_night }}</td>
      </tr>
      <!-- Add more room details if needed -->
    </table>
    <a href="{% url 'booking' room.id %}" class="btn btn-primary">Book Now</a>
  </div>
  <hr>
  <h3>Room Pictures:</h3>
  <div class="row">
    {% if room.picture1 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture1.url }}" alt="Room Picture 1" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture2 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture2.url }}" alt="Room Picture 2" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture3 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture3.url }}" alt="Room Picture 3" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture4 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture4.url }}" alt="Room Picture 4" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture5 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture5.url }}" alt="Room Picture 5" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture6 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture6.url }}" alt="Room Picture 6" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture7 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture7.url }}" alt="Room Picture 7" class="card-img-top">
        </div>
      </div>
    {% endif %}
    {% if room.picture8 %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ room.picture8.url }}" alt="Room Picture 8" class="card-img-top">
        </div>
      </div>
    {% endif %}
    <!-- Add more picture fields if needed -->
  </div>
</div>

{% endblock %}
